{% extends 'base.html.twig' %}

{% block body %}
<h1>Imported Youtube</h1>
<ul>
    {% for link in youtube %}
    <li>
        <a href="{{ path('playYoutube', {'id': link.filename}) }}">{{ link.filename }}</a>
        <button data-clipboard-text="{{ app.request.getSchemeAndHttpHost() }}{{ path('streamYoutube', {'id': link.filename}) }}">stream</button>
        <a href="vlc-x-callback://x-callback-url/stream?url={{ app.request.getSchemeAndHttpHost() }}{{ path('streamYoutube', {'id': link.filename}) }}"><button>vlc</button></a>
    </li>
    {% endfor %}
</ul>

<a href="{{ path('importYoutube') }}"><h2>Import New</h2></a>
<hr/>

<h1>Imported Soundcloud</h1>
<ul>
    {% for link in soundcloud %}
    <li>
        <a href="{{ path('playSoundcloud', {'id': link.filename}) }}">{{ link.filename }}</a> <button data-clipboard-text="{{ app.request.getSchemeAndHttpHost() }}{{ path('streamSoundcloud', {'filename': link.filename}) }}">stream</button>
    </li>
    {% endfor %}
</ul>

<a href="{{ path('importSoundcloud') }}"><h2>Import New</h2></a>
<hr/>
{% endblock %}